*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Faible-Regular';
  src: local('Faible-Regular'), url(./assets/fonts/Faible/Faible-Regular.woff) format('woff');
}
@font-face {
  font-family: 'Faible-Medium';
  src: local('Faible-Medium'), url(./assets/fonts/Faible/Faible-Medium.woff) format('woff');
}
@font-face {
  font-family: 'Faible-Bold';
  src: local('Faible-Bold'), url(./assets/fonts/Faible/Faible-Bold.woff) format('woff');
}
@font-face {
  font-family: 'SpoofTrial-Regular';
  src: local('SpoofTrial-Regular'), url(./assets/fonts/SpoofTrial/SpoofTrial-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'SpoofTrial-Medium';
  src: local('SpoofTrial-Medium'), url(./assets/fonts/SpoofTrial/SpoofTrial-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'SpoofTrial-Bold';
  src: local('SpoofTrial-Bold'), url(./assets/fonts/SpoofTrial/SpoofTrial-Bold.otf) format('opentype');
}